:root {
    --bg: #cccccc;
    --accent: #ff3644;
    --accent-soft: #ff6363;
    --blue: #0008cc;
    --blue-soft: #6363ff;
    --yellow: #ffff63;
    --pink: #f88ff8;
    --wnt-blue: #0008ff;
    --wnt-orange: #ff8000;
    --fc: #fcfcfc;
    --cc: #cccccc;
    --88: #888888;
    --63: #636363;
    --36: #363636;
    --21: #212121;
    --08: #080808;
    --x-small: 0.6rem;
    --small: 0.8rem;
    --normal: 1rem;
    --medium: 1.2rem;
    --large: 1.6rem;
    --x-large: 1.8rem;
    --section-small: 36vh;
    --section-medium: 63vh;
    --section-large: 88vh;
    --h1: 2.4rem;
    --h2: 2.2rem;
    --h3: 2rem;
    --gap: 1rem;
    --bar-gap: 3rem;
    --site-gap: 3rem;
    --header-gap: 6rem;
    --footer-gap: 4rem;
    --nav-active: #fcfcfc;
    --fade: all 1s ease;
    --fade-fast: all 0.4s ease;
    --fade-slow: all 3.6s ease;
}
::selection {
    background: var(--accent-soft);
    color: var(--blue);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--88);
    border: solid 2px var(--bg);
    border-radius: 48px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}
::-webkit-scrollbar-thumb:active {
    background: var(--fc);
}

/* SITE LAYOUT */
.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
}
.left {
    grid-column: 1;
}
.right {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr auto;
}
.content {
    grid-row: 1;
}
footer {
    grid-row: 2;
}

/* * */
* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    scrollbar-color: var(--88) transparent;
    scroll-behavior: smooth;
}
html {
    background: var(--bg);
    color: var(--08);
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    white-space: normal;
    min-height: 100vh;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}
main {
    overflow-x: clip;
    overflow-y: clip;
}

/* PRESETS */
.x-small {
    font-size: var(--x-small);
}
.small {
    font-size: var(--small);
}
.medium {
    font-size: var(--medium);
}
.large {
    font-size: var(--large);
}
.x-large {
    font-size: var(--x-large);
}
.section-small {
    display: flex;
    height: var(--section-small);
    align-items: center;
}
.section-medium {
    display: flex;
    height: var(--section-medium);
    align-items: center;
}
.section-large {
    display: flex;
    height: var(--section-large);
    align-items: center;
}
.site-gap {
    padding: var(--site-gap);
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(90vh - var(--bar-gap) - var(--header-gap) - var(--footer-gap));
}

/* ELEMENTS */
h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4,
h5,
h6 {
    font-size: var(--medium);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: auto;
    padding: 0;
    margin: 0;
}

a {
    color: var(--blue-soft);
    text-decoration: none;
    transition: color 0.6s ease;
}
a:hover {
    color: var(--yellow);
}
a:active {
    color: var(--fc);
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

hr {
    background: var(--08);
    height: 1px;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    pointer-events: none;
    image-rendering: smooth;
    padding: 0;
    margin: 0;
}
figure {
    padding: 0;
    margin: 0;
}

/* RESPONSIVE */
/* Phone. */
@media (min-width: 0px) and (max-width: 600px) {
    :root {
        --h1: 1.8rem;
        --h2: 1.6rem;
        --h3: 1.4rem;
        --gap: 1rem;
        --site-gap: 1.6rem;
        --header-gap: 4rem;
    }
    html {
        font-size: 12px;
    }
}
/* Desktop. */
@media (min-width: 600px) and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}
/* TV. */
@media (min-width: 1200px) and (max-width: 2200px) {
    html {
        font-size: 21px;
    }
}
