:root {
    --bg: #cccccc;
    --accent: #ff3644;
    --accent-soft: #ff6363;
    --blue: #0008cc;
    --blue-soft: #6363ff;
    --yellow: #ffff63;
    --pink: #f88ff8;
    --wnt-blue: #0008ff;
    --wnt-orange: #ff8000;
    --fc: #fcfcfc;
    --cc: #cccccc;
    --88: #888888;
    --63: #636363;
    --36: #363636;
    --21: #212121;
    --08: #080808;
    --x-small: 0.6rem;
    --small: 0.8rem;
    --normal: 1rem;
    --medium: 1.2rem;
    --large: 1.6rem;
    --x-large: 1.8rem;
    --section-small: 36vh;
    --section-medium: 63vh;
    --section-large: 100vh;
}
::selection {
    background: var(--accent-soft);
    color: var(--blue);
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
}
html {
    background: var(--bg);
    color: var(--08);
    font-size: 18px;
    line-height: 1.4;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
main {
    overflow: auto;
    white-space: normal;
    padding: 1rem 3rem;
}

/* PRESET-SIZING */
.x-small {
    font-size: var(--x-small);
}
.small {
    font-size: var(--small);
}
.medium {
    font-size: var(--medium);
}
.large {
    font-size: var(--large);
}
.x-large {
    font-size: var(--x-large);
}
.section-small {
    display: flex;
    height: var(--section-small);
    align-items: center;
}
.section-medium {
    display: flex;
    height: var(--section-medium);
    align-items: center;
}
.section-large {
    display: flex;
    height: var(--section-large);
    align-items: center;
}

/* ELEMENTS */
h1 {
    font-size: var(--x-large);
}
h2 {
    font-size: var(--large);
}
h3 {
    font-size: var(--medium);
}
h4,
h5,
h6 {
    font-size: var(--normal);
}

a {
    color: var(--yellow);
    text-decoration: none;
    transition: color 0.6s ease;
}
a:hover {
    color: var(--accent-soft);
}
a:active {
    color: var(--blue-soft);
}

hr {
    background: var(--08);
    height: 1px;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    image-rendering: smooth;
    padding: 0;
    margin: 0;
}
