:root {
    --bg: #cccccc;
    --accent: #ff3644;
    --white: #fcfcfc;
    --black: #080808;
}
::selection {
    background: var(--accent);
    color: var(--white);
}

html {
    background-color: var(--bg);
    font-size: 16px;
    text-align: center;
    text-wrap: wrap;
    overflow: auto;
    overflow-wrap: break-word;
    white-space: normal;
}

body {
    background-color: var(--bg);
    height: 100%;
    width: 100%;
    padding: 3rem;
    margin: 0;
}

/* ELEMENTS */
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    image-rendering: pixelated;
    padding: 0;
    margin: 0;
}

#bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent);
    color: var(--white);
    text-align: center;
    padding: 2rem;
}
