:root {
    --bg: #cccccc;
    --accent: #ff3644;
    --white: #fcfcfc;
    --black: #080808;
}
::selection {
    background: var(--accent);
    color: var(--white);
}

html {
    background: var(--bg);
}

body {
    color: var(--black);
    padding: 3rem;
    margin: 0;
}

.light {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.l-left {
    flex: 1;
    width: 100%;
    background: red;
}
.l-gap {
    flex: 0.08;
}
.l-right {
    flex: 1;
    width: 100%;
    background: blue;
}

@media (prefers-color-scheme: light) {
    .dark {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #6363ff;
        --white: #636363;
        --black: #fcfcfc;
    }

    .light {
        display: none;
    }
}
