---
import "../styles/global.css";
import Head from "../components/head.astro";

const pageTitle = "404... Oops! :( // WQON";
---

<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta name="description" content="Not found here! :(" />
        <Head />
        <script src="/src/scripts/oops404.js"></script>
    </head>
    <body>
        <h1>Oops! 😱</h1>
        <p>The page you are looking for does not exist, sorry.</p>
        <br />
        <p>
            You will be redirected to <a href="/">home</a> in... <span
                id="oops404"></span>
        </p>
    </body>
</html>
