---
import Head from "../components/head.astro";
import Bar from "../components/bar.astro";
import Header from "../components/header.astro";
import Soon from "../components/soon.astro";
import Footer from "../components/footer.astro";

const pageTitle = "About Me | Pixel Artist & Type Designer from Czechia - WQON";
---

<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta name="description" content="" />
        <Head />
        <style is:global>
            .about {
                background: var(--nav-active) !important;
            }
        </style>
    </head>
    <body>
        <main>
            <div class="wrapper">
                <div class="left">
                    <Header />
                </div>
                <div class="right">
                    <div class="content">
                        <Bar />
                        <section>
                            <Soon />
                        </section>
                    </div>
                    <Footer />
                </div>
            </div>
        </main>
    </body>
</html>
