---
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Soon from "../components/soon.astro";
import Footer from "../components/footer.astro";

const pageTitle = "Hire Me | Custom Pixel Art, Fonts & Web Design - WQON";
---

<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta name="description" content="" />
        <Head />
        <style is:global>
            .hire-me {
                background: var(--menu-active) !important;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <section>
                <Soon />
            </section>
        </main>
        <Footer />
    </body>
</html>
