---
import Head from "../components/head.astro";
import Bar from "../components/bar.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

const pageTitle = "WQON [vekonn] — Pixel Artist & Type Designer";
---

<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta
            name="description"
            content="WQON — a pixel artist and type designer from Czechia."
        />
        <Head />
    </head>
    <body>
        <Bar />
        <Header />
        <main>
            <div class="section-large">
                <p class="medium">
                    Hey! Glad to see you here...<br />
                    but, I’m still developing my website/artshop.<br />
                    <br />
                    You can see my <b
                        ><a href="/links" rel="nofollow">links</a></b
                    > instead!<br />
                    Thank you for visiting and come again later! ^..^
                </p>
            </div>
        </main>
        <Footer />
    </body>
</html>
