---
import Head from "../components/head.astro";
import Bar from "../components/bar.astro";
import Header from "../components/header.astro";
import Pixelviewer from "../components/pixelviewer.astro";
import Footer from "../components/footer.astro";

const pageTitle = "WQON [vekonn] — Pixel Artist & Type Designer";
---

<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta
            name="description"
            content="WQON — a pixel artist and type designer from Czechia."
        />
        <Head />
        <style is:global>
            .art {
                background: var(--menu-active) !important;
            }

            footer {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
            }
        </style>
    </head>
    <body>
        <Bar />
        <main>
            <Header />
            <Pixelviewer />
            <Footer />
        </main>
    </body>
</html>
