---
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import PromoViewer from "../components/promoviewer.astro";
import Portfolio from "../components/portfolio.astro";
import Footer from "../components/footer.astro";

const pageTitle = "Portfolio | Original Pixel Art, Dragons & Comics - WQON";
---

<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta name="description" content="" />
        <Head />
        <style is:global>
            .art {
                background: var(--nav-active) !important;
            }
        </style>
    </head>
    <body>
        <Header />
        <main>
            <PromoViewer />
            <Portfolio />
        </main>
        <Footer />
    </body>
</html>
