---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
import Bar from "../components/bar.astro";

const pageTitle = "WQON [vekonn] — Pixel Artist & Type Designer";
---

<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta
            name="description"
            content="WQON — a pixel artist and type designer from Czechia."
        />
        <Head />
    </head>
    <Bar />
    <body style="margin: 0; padding: 0; background: #cccccc;">
        <div
            style="font-size: 1.8em; font-family: monospace; line-height: 1.6; display: grid; place-items: center; height: 100vh;"
        >
            <p style="color: #080808;text-align: center;">
                Hey! Glad to see you here...<br />
                but, I’m still developing my website/artshop.<br />
                <br />
                You can see my <b><a href="/links" rel="nofollow">links</a></b> instead!<br
                />
                Thank you for visiting and come again later! ^..^
            </p>
        </div>
        <Footer />
    </body>
</html>
