---
import "../styles/global.css";
import "../styles/links.css";
import Head from "../components/head.astro";

const pageTitle = "WQON [vekonn] — Pixel Artist & Type Designer";
---

<html lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta
            name="description"
            content="WQON — A pixel artist and type designer from Czechia."
        />
        <Head />
    </head>
    <body>
        <!-- LIGHT -->
        <div class="links">
            <div class="l-links">
                <div class="links-left">
                    <div title="Breeze of Skies — 2025, 210x297px, 6 colors">
                        <img
                            src="/links/light/1-p2.png"
                            alt="Breeze of Skies — 2025, 210x297px, 6 colors"
                            title="Breeze of Skies — 2025, 210x297px, 6 colors"
                            id="dragon"
                        />
                    </div>
                </div>
                <div class="links-right">
                    <img
                        src="/links/light/2-wqon.png"
                        alt="WQON — Pixel Dracologist"
                        id="static"
                    />
                    <a href="/portfolio">
                        <img
                            src="/links/light/3-portfolio.png"
                            alt="Portfolio"
                            id="active"
                        />
                    </a>
                    <a href="/fonts">
                        <img
                            src="/links/light/4-pixelfonts.png"
                            alt="Pixel Fonts"
                            id="active"
                        />
                    </a>
                    <a href="/shop">
                        <img
                            src="/links/light/5-artshop.png"
                            alt="Art Shop"
                            id="active"
                        />
                    </a>
                    <a href="/commissions">
                        <img
                            src="/links/light/6-commissions.png"
                            alt="Commissions"
                            id="active"
                        />
                    </a>
                    <img
                        src="/links/light/7-support.png"
                        alt="Support"
                        id="active"
                    />
                    <a href="mailto:hi@wqon.art">
                        <img
                            src="/links/light/8-contact.png"
                            alt="Contact"
                            id="active"
                        />
                    </a>
                    <a href="https://bsky.app/profile/wqon.art" target="_blank">
                        <img
                            src="/links/light/9-bluesky.png"
                            alt="Bluesky"
                            id="active"
                        />
                    </a>
                    <a
                        href="https://www.tumblr.com/blog/wqonart"
                        target="_blank"
                    >
                        <img
                            src="/links/light/10-tumblr.png"
                            alt="Tumblr"
                            id="active"
                        />
                    </a>
                    <a
                        href="https://www.instagram.com/wqonart/"
                        target="_blank"
                    >
                        <img
                            src="/links/light/11-instagram.png"
                            alt="Instagram"
                            id="active"
                        />
                    </a>
                    <a href="https://www.youtube.com/@wqonart" target="_blank">
                        <img
                            src="/links/light/12-youtube.png"
                            alt="Youtube"
                            id="active"
                        />
                    </a>
                    <a
                        href="https://www.artstation.com/wqonart"
                        target="_blank"
                    >
                        <img
                            src="/links/light/13-artstation.png"
                            alt="ArtStation"
                            id="active"
                        />
                    </a>
                </div>
            </div>
            <!-- DARK -->
            <div class="d-links">
                <div class="links-left"></div>
                <div class="links-gap"></div>
                <div class="links-right"></div>
            </div>
        </div><!-- Designed & developed by Lukáš "WQON" Nox! -->
    </body>
</html>
