---
import Head from "../components/head.astro";
import "../styles/links.css";

const pageTitle = "Links | Pixel Artist & Type Designer - WQON";
---

<html lang="en">
    <head>
        <!-- Designed & developed by Lukáš "WQON" Nox! -->
        <title>{pageTitle}</title>
        <meta
            name="description"
            content="WQON — A pixel artist and type designer from Czechia."
        />
        <Head />
    </head>
    <body>
        <!-- LIGHT -->
        <div class="links">
            <div class="l-links">
                <div class="links-left">
                    <div
                        id="dragon"
                        title="Breeze of Skies — 2025, 210x297px, 6 colors"
                    >
                        <img
                            src="/links/light/1-p2.png"
                            alt="Breeze of Skies — 2025, 210x297px, 6 colors"
                        />
                    </div>
                </div>
                <div class="links-right">
                    <div id="static">
                        <a href="/about">
                            <img
                                src="/links/light/2-wqon.png"
                                alt="WQON — Pixel Dracologist"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/">
                            <img
                                src="/links/light/3-portfolio.png"
                                alt="Portfolio"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/fonts">
                            <img
                                src="/links/light/4-pixelfonts.png"
                                alt="Pixel Fonts"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/shop">
                            <img
                                src="/links/light/5-artshop.png"
                                alt="Art Shop"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/commissions">
                            <img
                                src="/links/light/6-commissions.png"
                                alt="Commissions"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/support">
                            <img
                                src="/links/light/7-support.png"
                                alt="Support"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="mailto:hi@wqon.art">
                            <img
                                src="/links/light/8-contact.png"
                                alt="Contact"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://bsky.app/profile/wqon.art"
                            target="_blank"
                        >
                            <img
                                src="/links/light/9-bluesky.png"
                                alt="Bluesky"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://www.tumblr.com/blog/wqonart"
                            target="_blank"
                        >
                            <img
                                src="/links/light/10-tumblr.png"
                                alt="Tumblr"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://www.instagram.com/wqonart/"
                            target="_blank"
                        >
                            <img
                                src="/links/light/11-instagram.png"
                                alt="Instagram"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://www.youtube.com/@wqonart"
                            target="_blank"
                        >
                            <img
                                src="/links/light/12-youtube.png"
                                alt="Youtube"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://www.artstation.com/wqonart"
                            target="_blank"
                        >
                            <img
                                src="/links/light/13-artstation.png"
                                alt="ArtStation"
                            />
                        </a>
                    </div>
                </div>
            </div>

            <!-- DARK -->
            <div class="d-links">
                <div class="links-left">
                    <div
                        id="dragon"
                        title="Woodland Mage — 2025, 210x297px, 15 colors"
                    >
                        <img
                            src="/links/dark/1-p7.webp"
                            alt="Woodland Mage — 2025, 210x297px, 15 colors"
                        />
                    </div>
                </div>
                <div class="links-right">
                    <div id="static">
                        <a href="/about">
                            <img
                                src="/links/dark/2-wqon.png"
                                alt="WQON — Pixel Dracologist"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/">
                            <img
                                src="/links/dark/3-portfolio.png"
                                alt="Portfolio"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/fonts">
                            <img
                                src="/links/dark/4-pixelfonts.png"
                                alt="Pixel Fonts"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/shop">
                            <img
                                src="/links/dark/5-artshop.png"
                                alt="Art Shop"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/commissions">
                            <img
                                src="/links/dark/6-commissions.png"
                                alt="Commissions"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="/support">
                            <img
                                src="/links/dark/7-support.png"
                                alt="Support"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a href="mailto:hi@wqon.art">
                            <img
                                src="/links/dark/8-contact.png"
                                alt="Contact"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://bsky.app/profile/wqon.art"
                            target="_blank"
                        >
                            <img
                                src="/links/dark/9-bluesky.png"
                                alt="Bluesky"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://www.tumblr.com/blog/wqonart"
                            target="_blank"
                        >
                            <img src="/links/dark/10-tumblr.png" alt="Tumblr" />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://www.instagram.com/wqonart/"
                            target="_blank"
                        >
                            <img
                                src="/links/dark/11-instagram.png"
                                alt="Instagram"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://www.youtube.com/@wqonart"
                            target="_blank"
                        >
                            <img
                                src="/links/dark/12-youtube.png"
                                alt="Youtube"
                            />
                        </a>
                    </div>
                    <div id="active">
                        <a
                            href="https://www.artstation.com/wqonart"
                            target="_blank"
                        >
                            <img
                                src="/links/dark/13-artstation.png"
                                alt="ArtStation"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
