---
const year = () => new Date().getFullYear();

const wn = "WQON";
---

<footer>
    <div class="footer-left">
        <p>
            © {year()}
            {wn} • All Rights Reserved<br />
            Website designed & developed by Lukáš "{wn}" Nox
        </p>
    </div>
    <div class="footer-right">socials</div>
    <!-- Designed & developed by Lukáš "WQON" Nox! -->
</footer>
