<!-- CSS -->
<style>
    header {
        position: fixed;
        top: var(--bar-gap);
        left: 0;
        right: 0;
        height: 48px;
        backdrop-filter: blur(0.5);
        z-index: 62;
    }
    .header-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-top: solid 1px var(--08);
        border-bottom: solid 1px var(--08);
    }
    .header-left {
        display: flex;
        flex: 1;
        justify-content: left;
        align-items: center;
        padding-left: var(--site-gap);
    }
    .header-right {
        display: flex;
        flex: 2;
        justify-content: right;
        align-items: center;
        text-align: center;
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 96px;
        font-size: var(--medium);
        border-left: solid 1px var(--08);
    }
    .menu.art {
        display: flex;
        flex: 1;
    }
    .menu.fonts {
        display: flex;
        flex: 1;
    }
    .menu.hire-me {
        display: flex;
        flex: 1;
    }
    .menu.about {
        display: flex;
        flex: 1;
    }

    img#logo {
        max-height: 64px;
        width: auto;
    }
</style>

<!-- HTML -->
<header>
    <div class="header-wrapper">
        <div class="header-left">
            <img
                src="/assets/logo-white.png"
                id="logo"
                alt="WQON — Pixel Dracologist"
            />
        </div>
            <nav class="header-right">
                <div class="menu art">
                    <a href="/">Art</a>
                </div>
                <div class="menu fonts">
                    <a href="/fonts">Fonts</a>
                </div>
                <div class="menu hire-me">
                    <a href="/commissions">Hire Me</a>
                </div>
                <div class="menu about">
                    <a href="/about">About</a>
                </div>
            </nav>
        </div>
</header>
