---
import Bar from "../components/bar.astro";
---

<!-- CSS -->
<style>
    header {
        display: grid;
        grid-template-rows: var(--bar-gap) var(--header-gap);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: rgba(204, 204, 204, 0.6);
        backdrop-filter: blur(8px);
        padding: 0;
        margin: 0;
        z-index: 100;
    }
    .header-wrapper {
        grid-row: 2;
        display: grid;
        grid-template-columns: 36% 1fr;
        align-items: center;
        text-align: center;
        border-top: solid 1px var(--08);
        border-bottom: solid 1px var(--08);
    }
    .header-left {
        grid-column: 1;
        padding-left: var(--site-gap);
    }
    .header-right {
        grid-column: 2;
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .header-right a,
    .plus {
        display: flex;
        flex: 1;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: var(--08);
        font-size: var(--medium);
        border-left: solid 1px var(--08);
        transition: all 1s ease;
    }
    .header-right a:hover,
    .plus:hover {
        background: var(--yellow);
    }
    .header-right a:active,
    .plus:active {
        background: var(--fc);
    }
    label.plus::after {
        content: "+";
    }
    .plus {
        cursor: pointer;
    }
    .plus.wrapper {
        max-width: var(--header-gap);
        border: none;
    }
    #plus-toggle {
        display: none;
    }
    #plus-toggle:checked ~ .plus-content {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        transition:
            transform 0.6s ease,
            opacity 0.6s ease,
            visibility 0s 0s;
    }
    #plus-toggle:checked ~ .plus::after {
        content: "×";
    }
    .plus-content {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: calc(var(--header-gap) + var(--bar-gap));
        right: 0;
        bottom: 0;
        height: calc(100vh - var(--header-gap) - var(--bar-gap));
        width: calc(2 * var(--header-gap));
        background: rgba(204, 204, 204, 0.6);
        backdrop-filter: blur(8px);
        border-left: solid 1px var(--08);
        transition:
            transform 0.6s ease,
            opacity 0.6s ease,
            visibility 0s 0.6s;
    }
    .plus-content a {
        border: none;
        border-bottom: solid 1px var(--08);
    }
    .plus-content a:last-child {
        border: none;
    }

    img#logo {
        height: 64px;
        width: auto;
    }
</style>

<!-- HTML -->
<header draggable="false">
    <Bar />
    <div class="header-wrapper">
        <div class="header-left">
            <img
                src="/assets/logo-white.png"
                id="logo"
                alt="WQON — Pixel Dracologist"
            />
        </div>
        <nav class="header-right">
            <a href="/" class="art">Art</a>
            <a href="/fonts" class="fonts">Fonts</a>
            <a href="/hire-me" class="hire-me">Hire Me</a>
            <a href="/about" class="about">About</a>
            <div class="plus wrapper">
                <input type="checkbox" id="plus-toggle" />
                <label for="plus-toggle" class="plus"></label>
                <div class="plus-content">
                    <a href="/shop" class="shop">Shop</a>
                    <a href="/blog" class="blog">Blog</a>
                    <a href="/support" class="support">Support 🖤</a>
                </div>
            </div>
        </nav>
    </div>
</header>
