<!-- CSS -->
<style>
    .pixelviewer {
        display: block;
        position: relative;
        height: calc(
            100vh - var(--bar-gap) - var(--header-gap) - var(--footer-gap)
        );
        width: 100%;
        top: 0;
        background: var(--bg);
        padding: 0 -var(--site-gap);
        margin: 0;
    }
    .pv-wrapper {
        display: grid;
        grid-template-rows: 3fr 1fr;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }
    .pv-artarea {
        grid-row: 1;
        display: grid;
        grid-template-columns: calc(36% + 1px) 1fr;
        grid-template-rows: 1fr;
        height: 100%;
        width: 100%;
        border-bottom: solid 1px var(--08);
    }
    .pv-metadata {
        grid-column: 1;
        border-right: solid 1px var(--08);
        padding: var(--site-gap);
    }
    .pv-art {
        grid-column: 2;
    }
    .pv-switcher {
        grid-row: 2;
        display: grid;
        grid-template-rows: 1fr 3fr;
        width: 100%;
    }
    .pv-nav {
        grid-row: 1;
        display: grid;
        grid-template-columns: calc(36%) 1fr;
        width: 100%;
        border-bottom: solid 1px var(--08);
    }
    .pv-nav button {
        transition: all 1s ease;
    }
    .pv-left {
        grid-column: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: var(--site-gap);
    }
    .pv-right {
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: var(--site-gap);
        border-left: solid 1px var(--08);
    }
    .pv-left:hover,
    .pv-right:hover {
        background: var(--yellow);
    }
    .pv-left:active,
    .pv-right:active {
        background: var(--fc);
    }
    .pv-preview-wrapper {
        grid-row: 2;
    }
</style>

<!-- HTML -->
<section class="pixelviewer">
    <div class="pv-wrapper">
        <!-- ARTWORKS -->
        <div class="pv-artarea" id="P2">
            <div class="pv-metadata">
                <article>
                    <h1>Breeze of Skies</h1>
                    <p class="small">2025 • 210x297px, 6 colors</p>
                    <br />
                    <p class="medium">Text</p>
                </article>
            </div>
            <div class="pv-art"></div>
        </div>

        <div class="pv-switcher">
            <div class="pv-nav">
                <button class="pv-left">&lt;--- PREVIOUS ARTWORK</button>
                <button class="pv-right" type="button"
                    >NEXT ARTWORK ---&gt;</button
                >
            </div>
            <!-- PREVIEWS -->
            <div class="pv-preview-wrapper">
                <button class="pv-previews" id="P2preview"></button>
            </div>
        </div>
    </div>
</section>
