<!-- CSS -->
<style>
    /* NAVIGATION */
    .pf-nav {
        display: flex;
        flex-flow: row;
        position: sticky;
        top: calc(var(--bar-gap) + var(--header-gap) - 1px);
        font-size: var(--medium);
        background: rgba(204, 204, 204, 0.6);
        backdrop-filter: blur(8px);
        border-top: solid 1px var(--08);
        border-bottom: solid 1px var(--08);
        z-index: 97;
    }
    .pf-nav a {
        display: flex;
        flex: 1;
        height: var(--bar-gap);
        justify-content: center;
        align-items: center;
        line-height: 0;
        color: var(--08);
        transition: var(--fade);
    }
    .pf-nav a:hover {
        background: var(--yellow);
    }
    .pf-nav a:active {
        background: var(--fc);
    }
    .pf-nav a + a {
        border-left: solid 1px var(--08);
    }
    .portfolio:has(#PixelDragons:target) .pf-nav a[href="#PixelDragons"],
    .portfolio:has([id="8BitDrake"]:target) .pf-nav a[href="#8BitDrake"],
    .portfolio:has(#PixelFonts:target) .pf-nav a[href="#PixelFonts"],
    .portfolio:has(#ClientWork:target) .pf-nav a[href="#ClientWork"] {
        background: var(--nav-active);
    }
    [id] {
        scroll-margin-top: calc(
            var(--bar-gap) + var(--header-gap) + var(--bar-gap)
        );
    }
    /* PORTFOLIO */
    .pf-wrapper {
        display: grid;
        grid-template-rows: fit-content(1fr) 1fr;
        border-top: solid 1px var(--08);
        padding-bottom: calc(2 * var(--site-gap));
    }
    .pf-wrapper:first-of-type {
        border-top: none;
        padding-bottom: 0;
    }
    .pf-header {
        padding: var(--site-gap);
    }
    .pf-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
    }
    .pf-gallery figure {
        display: flex;
        flex-flow: column;
        cursor: zoom-in;
        overflow: hidden;
    }
    .pf-gallery figure:hover img {
        transform: scale(1.04);
    }
    .pf-gallery figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--large);
        text-align: center;
        font-size: var(--small);
        line-height: var(--gap);
        margin: 0;
        z-index: 2;
    }
    .pflb-img {
        image-rendering: pixelated;
        image-rendering: crisp-edges;
        transition: var(--fade-fast);
    }
    #PixelFonts figure {
        cursor: pointer;
    }
    #PixelFonts figure img {
        image-rendering: smooth;
        transition: var(--fade-fast);
    }
    #PixelFonts figure:hover img {
        opacity: 0;
    }
    #minibyte {
        background-image: url("/portfolio/PixelFonts/minibyte-panem.png");
        background-size: cover;
        background-position: center;
    }
    #EXSpace {
        background-image: url("/portfolio/PixelFonts/EXSpace-panem.png");
        background-size: cover;
        background-position: center;
    }

    /* LIGHTBOX */
    .pflb {
        display: none;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        justify-items: center;
        align-items: center;
        backdrop-filter: blur(8px) grayscale(100%) brightness(16%);
        z-index: 101;
    }
    .pflb.open {
        display: grid;
    }
    .pflb img {
        grid-row: 1;
        grid-column: 1;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
        height: auto;
        width: calc(32 * var(--gap));
    }
    .pflb-wrapper {
        grid-row: 2;
        grid-column: 1;
        display: grid;
        grid-template-rows: calc(var(--header-gap) + var(--footer-gap)) var(
                --header-gap
            );
        justify-items: center;
        align-items: center;
        position: relative;
        bottom: 0;
        width: 100vw;
        color: var(--cc);
        background: rgba(252, 252, 252, 16%);
        border-top: solid 1px var(--cc);
    }
    .pflb-alt {
        font-size: var(--medium);
    }
    .pflb-nav {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        font-size: var(--medium);
        font-weight: bold;
        border-top: solid 1px var(--cc);
    }
    .pflb-nav div {
        display: flex;
        flex: 1;
        height: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-right: solid 1px var(--cc);
        transition: var(--fade);
    }
    .pflb-nav div:last-child {
        border: none;
    }
    .pflb-nav div:hover {
        background: rgba(255, 255, 99, 36%);
    }
    .pflb-close:hover {
        background: var(--accent-soft) !important;
        color: var(--08);
    }
</style>

<!-- HTML -->
<section class="portfolio">
    <nav class="pf-nav">
        <a href="#PixelDragons">#PixelDragons</a>
        <a href="#8BitDrake">#8BitDrake</a>
        <a href="#PixelFonts">#PixelFonts</a>
        <a href="#ClientWork">#ClientWork</a>
        <a href="#Sketches">#Sketches</a>
        <a href="#ProcessGIFs">#ProcessGIFs</a>
    </nav>
    <!-- #PixelDragons -->
    <div
        class="pf-wrapper"
        id="PixelDragons"
        style="color: #001C42; background: #63A4FF;"
    >
        <div class="pf-header">
            <h1>Pixel Dragons</h1>
            <p>Text</p>
        </div>
        <div class="pf-gallery">
            <!-- Breeze of Skies -->
            <figure>
                <img
                    src="/portfolio/PixelDragons/P2.png"
                    class="pflb-img"
                    alt="Breeze of Skies — 2025, 210x297px, 6 colors"
                />
                <figcaption style="color: #FFBE63; background: #63A4FF">
                    Breeze of Skies — 2025, 210x297px, 6 colors
                </figcaption>
            </figure>
            <!-- The Spark Caster -->
            <figure>
                <img
                    src="/portfolio/PixelDragons/P3.png"
                    class="pflb-img"
                    alt="The Spark Caster — 2025, 210x297px, 6 colors"
                />
                <figcaption style="color: #FFF475; background: #FFAF75">
                    The Spark Caster — 2025, 210x297px, 6 colors
                </figcaption>
            </figure>
            <!-- Dragonfly -->
            <figure>
                <img
                    src="/portfolio/PixelDragons/P4.png"
                    class="pflb-img"
                    alt="Dragonfly — 2025, 210x297px, 5 colors"
                />
                <figcaption style="color: #15AC83; background: #43F8DB">
                    Dragonfly — 2025, 210x297px, 5 colors
                </figcaption>
            </figure>
            <!-- Woodland Mage -->
            <figure>
                <img
                    src="/portfolio/PixelDragons/P7.webp"
                    class="pflb-img"
                    alt="Woodland Mage — 2025, 210x297px, 15 colors, 12 frames"
                />
                <figcaption style="color: #2FAB2B; background: #125946">
                    Woodland Mage — 2025, 210x297px, 15 colors, 12 frames
                </figcaption>
            </figure>
        </div>
    </div>
    <!-- #8BitDrake -->
    <div
        class="pf-wrapper"
        id="8BitDrake"
        style="color: #6B5CF5; background: #020226;"
    >
        <div class="pf-header">
            <h1>#8BitDrake</h1>
            <p>Text</p>
        </div>
        <div class="pf-gallery">
            <!-- No1 -->
            <figure>
                <img
                    src="/portfolio/8BitDrake/No1.png"
                    class="pflb-img"
                    alt="#8BitDrake No.1 has been hatched and beginning his journey."
                />
            </figure>
            <!-- No2 -->
            <figure>
                <img
                    src="/portfolio/8BitDrake/No2.png"
                    class="pflb-img"
                    alt="#8BitDrake No.2 is racing through the sky with his friend."
                />
            </figure>
            <!-- No3 -->
            <figure>
                <img
                    src="/portfolio/8BitDrake/No3.png"
                    class="pflb-img"
                    alt="#8BitDrake No.3 and his cat are watching dragonets fly and play."
                />
            </figure>
        </div>
    </div>
    <!-- Pixel Fonts -->
    <div
        class="pf-wrapper"
        id="PixelFonts"
        style="color: #585DE9; background: #E9E458;"
    >
        <div class="pf-header">
            <h1>Pixel Fonts</h1>
            <p>Text</p>
        </div>
        <div class="pf-gallery">
            <!-- wnt minibyte -->
            <figure id="minibyte">
                <img
                    src="/portfolio/PixelFonts/minibyte-thumb.png"
                    class="pflb-img"
                />
            </figure>
            <!-- WNT EXSpace -->
            <figure id="EXSpace">
                <img
                    src="/portfolio/PixelFonts/EXSpace-thumb.png"
                    class="pflb-img"
                />
            </figure>
        </div>
    </div>
    <!-- Client Work -->
    <div class="pf-wrapper" id="ClientWork">
        <div class="pf-header">
            <h1>Client Work</h1>
            <p>Text</p>
        </div>
        <div class="pf-gallery">
            <!-- Pixblr banner -->
            <figure>
                <img
                    src="/portfolio/ClientWork/pixblr-intro.gif"
                    class="pflb-img"
                    alt="Banner I made for the Pixblr, a pixel-art community on
                    Tumblr."
                />
                <a
                    href="https://www.tumblr.com/communities/pixblr"
                    target="_blank"
                >
                    <figcaption style="color: #15896F; background: #1C2D48">
                        Banner I made for the Pixblr, a pixel-art community on
                        Tumblr.
                    </figcaption>
                </a>
            </figure>
        </div>
    </div>
    <!-- Sketches & Studies -->
    <div class="pf-wrapper">
        <div class="pf-header">
            <h1>Sketches & Studies</h1>
            <p>Text</p>
        </div>
        <div class="pf-gallery">
            
        </div>
    </div>
</section>

<!-- LIGHTBOX -->
<style></style>
<div draggable="false" class="pflb">
    <img src="" alt="" />
    <div class="pflb-wrapper">
        <div class="pflb-alt"></div>
        <div class="pflb-nav">
            <div class="pflb-left">←</div>
            <div class="pflb-close">×</div>
            <div class="pflb-right">→</div>
        </div>
    </div>
</div>
<script src="/src/scripts/pflb.js"></script>
