<section class="portfolio">
    <!-- #PixelDragons -->
    <div class="pf-section">
        <div class="pf-artworks"></div>
    </div>
    <!-- LIGHTBOX -->
    <div class="lightbox">
        <img src="" />
    </div>
</section>
