<!-- CSS -->
<style>
    .promoviewer {
        display: grid;
        grid-template-columns: var(--header-gap) 1fr var(--header-gap);
        position: relative;
        top: 0;
        height: 63vh;
        width: 100%;
    }
    .pa-slides {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        transition: var(--fade);
        z-index: 1;
    }
    .pa-slide {
        display: flex;
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
    }
    .pa-nav {
        font-size: var(--large);
        background: var(--bg);
        transition: var(--fade);
        z-index: 3;
    }
    .pa-nav:hover {
        background: var(--yellow);
    }
    .pa-nav:active {
        background: var(--fc);
    }
    .pa-nav.prev {
        border-right: solid 1px var(--08);
    }
    .pa-nav.next {
        border-left: solid 1px var(--08);
    }
    .pa-dots {
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        bottom: calc(2 * var(--gap));
        left: 50%;
        transform: translateX(-50%);
        mix-blend-mode: difference;
        gap: var(--x-small);
        z-index: 2;
    }
    .pa-dots button {
        width: var(--gap);
        height: var(--gap);
        background: var(--fc);
        border-radius: 16%;
        opacity: 36%;
        transition: var(--fade);
    }
    .pa-dots button:hover {
        opacity: 100%;
    }
    .pa-dots button.active {
        opacity: 100%;
    }
</style>

<!-- HTML -->
<section class="promoviewer">
    <!-- PREV -->
    <button class="pa-nav prev">←</button>
    <!-- SLIDES AREA -->
    <div class="pa-slides">
        <div class="pa-slide" style="background: red;">dd</div>
        <div class="pa-slide" style="background: blue;">ff</div>
        <div class="pa-slide" style="background: pink;">cc</div>
    </div>
    <!-- DOTS -->
    <div class="pa-dots">
        <button data-slide="1"></button>
        <button data-slide="2"></button>
        <button data-slide="3"></button>
    </div>
    <!-- NEXT -->
    <button class="pa-nav next">→</button>
</section>

<!-- SCRIPTS -->
<script type="module" src="/src/scripts/promoviewer.js"></script>
